* {
    box-sizing: border-box;
}


/* HEALPERS  */
.main-layout {
    margin-left:auto;
    margin-right: auto;
    max-width: 980px;
}

.square-img {
    grid-column: span 1;
    grid-row: span 1;
}

.gallery-container img {
    width: 100%;
    height: 100%;
}


/* TYPOGRAPHY */


/* BASIC */

body {
    margin: 0;
    background-color: azure;
    width: 100vw;
}

main {
    background-color: gold;
}

.logo img {
    width: 70px;
}

.header-links a{
    display: block;
    text-decoration: none;
    height: 50px;
    padding-top: 12px;
}

.header-links a:hover{
    border-bottom: blue 2px solid;
}

.search-input-container img{
    width: 20px;
}

/* LAYOUT */

.header1 {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
}
.header1 .logo {
    margin-left: 30px;
}

.header-links{
    display: flex;
    margin-right: 50px;
    gap: 30px;
    list-style-type: none;
}

.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px; 
    background-color: lightgray;
}

.search-input-container {
    margin-left: 30px;
}

.searched-words-canvas {
    background-color: blue;
    margin-right: 40px;
}

main {
    background-color: gray;
    padding: 20px 30px;
    margin-bottom: 30px;
}

.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;;
    gap: 20px;
}

.my-info {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.my-image {
    border-radius: 50%;
    background-color: green;
    width: 200px;
    height: 200px;
}

.my-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.social-media img {
    width: 20px;
    background-color: orange;
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 100px;
}





.canvas-container {
    display: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    gap: 100px;
    width: 1300px;
    margin:auto
}

.meme-canvas {
    background-color: gray;
    width: 500px;
    height: 500px;
    margin: 20px 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 30px;
}



/* MEDIA QURIES */


